/* your styles go here */

.img-circle {
  border-radius: 50%;
}

/* Global */
/*html{
  min-height: 100%;
  overflow: hidden;
}*/
/*body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: black;
  /*font-family: 'Anonymous Pro', monospace;*/
  /*background-color: rgb(25,25,25);*/


.typed-cursor{
    opacity: 1;
    font-size: 50px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
