/* your styles go here */

.img-circle {
  border-radius: 50%;
}
.wrapper {
  margin-left: 5px;
  margin-top: 50px;
}
ul{
  padding-left: 10px;
}
li{
  margin: 10px 0;
}


@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}*/
